In [ ]:
# Importação de pacotes a serem utilizados
import pandas as pd
from datetime import datetime

# Importação das bases
# Insira o caminho dos .csv
base_13_14 = pd.read_csv()
base_15_16 = pd.read_csv()

#Análises iniciais dos dataframes

In [ ]:
# Observação da base e remoção de linhas vazias
base_13_14.dropna(how= 'all', inplace = True)
base_13_14.sample(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Product_Name
457,Enterprise,France,Montana,Medium,1857,5,125,232125,"20891,25","211233,75",222840,"-11606,25",1-nov.-13,11,November,2013,NaN
239,Government,France,Montana,Medium,1403,5,7,9821,"589,26","9231,74",7015,"2216,74",1-out.-13,10,October,2013,NaN
587,Channel Partners,Canada,Paseo,None,2518,10,12,30216,0,30216,7554,22662,1-jun.-14,6,June,2014,NaN
154,Government,Germany,Amarilla,Medium,1366,260,20,27320,"2185,6","25134,4",13660,"11474,4",1-jun.-14,6,June,2014,NaN
430,Small Business,United States of America,Velo,Medium,1372,120,300,411600,28812,382788,343000,39788,1-dez.-14,12,December,2014,NaN
203,Government,Mexico,Velo,None,1493,120,7,10451,0,10451,7465,2986,1-jan.-14,1,January,2014,NaN
664,Channel Partners,Mexico,Paseo,Medium,367,10,12,4404,"396,36","4007,64",1101,"2906,64",1-out.-13,10,October,2013,NaN
585,Channel Partners,United States of America,VTT,High,1806,250,12,21672,"3250,8","18421,2",5418,"13003,2",1-mai.-14,5,May,2014,NaN
131,Government,Germany,VTT,Medium,2297,250,20,45940,2297,43643,22970,20673,1-nov.-13,11,November,2013,NaN
105,Government,Canada,VTT,None,1817,250,20,36340,0,36340,18170,18170,1-dez.-14,12,December,2014,NaN

In [ ]:
# Observação da base e remoção de linhas vazias
base_13_14.dropna(how= 'all', inplace = True)
base_15_16.sample(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Product_Name
418,Channel Partners,Canada,Carretera,Medium,1884,3,12,22608,"1582,56","21025,44",5652,"15373,44",1-ago.-16,8,August,2016,NaN
92,Government,Canada,Montana,High,200,5,350,70000,9800,60200,52000,8200,1-mai.-15,5,May,2015,NaN
128,Government,France,Velo,Medium,1033,120,20,20660,1033,19627,10330,9297,1-dez.-15,12,December,2015,NaN
248,Government,Canada,VTT,Medium,1582,250,7,11074,"775,18","10298,82",7910,"2388,82",1-dez.-15,12,December,2015,NaN
633,Midmarket,United States of America,Paseo,Low,671,10,15,10065,"402,6","9662,4",6710,"2952,4",1-out.-16,10,October,2016,NaN
386,Channel Partners,Canada,Velo,Medium,2431,120,12,29172,"1458,6","27713,4",7293,"20420,4",1-dez.-16,12,December,2016,NaN
195,Government,United States of America,Paseo,High,267,10,20,5340,801,4539,2670,1869,1-out.-15,10,October,2015,NaN
507,Channel Partners,Canada,Carretera,High,1937,3,12,23244,"2556,84","20687,16",5811,"14876,16",1-fev.-16,2,February,2016,NaN
312,Channel Partners,Germany,Velo,None,2161,120,12,25932,0,25932,6483,19449,1-mar.-15,3,March,2015,NaN
625,Enterprise,Germany,Paseo,Low,1706,10,125,213250,"6397,5","206852,5",204720,"2132,5",1-dez.-16,12,December,2016,NaN

In [ ]:
# Informações gerais de formatos
print(">>>INFORMAÇÕES DA BASA 13-14<<<\n")
base_13_14.info()

print("\n_________________________________________________\n")

print(">>>INFORMAÇÕES DA BASA 15-16<<<\n")
base_15_16.info()

>>>INFORMAÇÕES DA BASA 13-14<<<

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              715 non-null    object
 1   Country              715 non-null    object
 2   Product              715 non-null    object
 3   Discount Band        715 non-null    object
 4   Units Sold           715 non-null    object
 5   Manufacturing Price  715 non-null    int64
 6   Sale Price           715 non-null    int64
 7   Gross Sales          715 non-null    object
 8   Discounts            715 non-null    object
 9    Sales               715 non-null    object
 10  COGS                 715 non-null    object
 11  Profit               715 non-null    object
 12  Date                 715 non-null    object
 13  Month Number         715 non-null    int64
 14  Month Name           715 non-null    object
 15  Year                 715 non-null    int64
 16  Product_Name         0 non-null      float64
dtypes: float64(1), int64(4), object(12)
memory usage: 95.1+ KB

_________________________________________________

>>>INFORMAÇÕES DA BASA 15-16<<<

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658 entries, 0 to 657
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              658 non-null    object
 1   Country              658 non-null    object
 2   Product              658 non-null    object
 3   Discount Band        658 non-null    object
 4   Units Sold           658 non-null    object
 5   Manufacturing Price  658 non-null    int64
 6   Sale Price           658 non-null    int64
 7   Gross Sales          658 non-null    object
 8   Discounts            658 non-null    object
 9    Sales               658 non-null    object
 10  COGS                 658 non-null    object
 11  Profit               658 non-null    object
 12  Date                 658 non-null    object
 13  Month Number         658 non-null    int64
 14  Month Name           658 non-null    object
 15  Year                 658 non-null    int64
 16  Product_Name         0 non-null      float64
dtypes: float64(1), int64(4), object(12)
memory usage: 87.5+ KB

In [28]:
'''
Transformações a serem feitas
  Units Sold            obj > int
  Manufacturing Price   int > float
  Sale Price            int > float
  Gross Sales           obj > int
  Discounts             obj > float
  Sales                 obj > float
  COGS                  obj > float
  Profit                obj > float
  Date                  obj > date
'''

# Apagar espaços nos nomes das colunas
base_13_14.columns = base_13_14.columns.str.replace(' ', '')

# Função de susbtituição de vírgulas por pontos nas strings
def preparar_float(virgula):
  virgula = virgula.str.replace(',', '.')
  return virgula

# Aplicação da função de substituição de vírgulas e conversão das strings em floats
base_13_14 [["Discounts","Sales","COGS","Profit"]] = base_13_14 [["Discounts","Sales","COGS","Profit"]].apply(preparar_float)
base_13_14 [["Discounts","Sales","COGS","Profit"]] = base_13_14 [["Discounts","Sales","COGS","Profit"]].astype(float)

#Conversão das ints em floats
base_13_14 [["ManufacturingPrice","SalePrice"]] = base_13_14 [["ManufacturingPrice","SalePrice"]].astype(float)

#Conversão do restante das colunas para float
base_13_14 [["UnitsSold","GrossSales"]] = base_13_14 [["UnitsSold","GrossSales"]].apply(preparar_float)
base_13_14 [["UnitsSold","GrossSales"]] = base_13_14 [["UnitsSold","GrossSales"]].astype(float)

In [ ]:
# Correção da data
base_13_14 ["Date"] = base_13_14 ["Date"].str.replace('.', '')

def corrigir_datas(datas):
    datas = datas.replace('jan', 'Jan').replace('fev','Feb').replace('mar', 'Mar').replace('abr', 'Apr').replace('mai', 'Mai').replace('jun', 'Jun').replace('jul', 'Jul').replace('ago', 'Aug').replace('set', 'Sep').replace('out', 'Oct').replace('nov','Nov').replace('dez','Dec')
    return datas

base_13_14 ["Date"] = base_13_14 ["Date"].apply(corrigir_datas)

date_string = "1-set-16"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d-%b-%Y")

print("date_object =", date_object)

In [ ]:
# Verificando bases
base_13_14.sample(15)

,Segment,Country,Product,DiscountBand,UnitsSold,ManufacturingPrice,SalePrice,GrossSales,Discounts,Sales,COGS,Profit,Date,MonthNumber,MonthName,Year,Product_Name
134,Government,Mexico,VTT,Medium,1123.0,250.0,20.0,22460.0,1347.60,21112.40,11230.0,9882.40,1-Nov-13,11,November,2013,NaN
517,Enterprise,Mexico,Amarilla,High,947.0,260.0,125.0,118375.0,13021.25,105353.75,113640.0,-8286.25,1-Set-13,9,September,2013,NaN
519,Enterprise,Canada,Carretera,High,2416.0,3.0,125.0,302000.0,36240.00,265760.00,289920.0,-24160.00,1-Set-13,9,September,2013,NaN
645,Midmarket,France,Paseo,Medium,3801.0,10.0,15.0,57015.0,3420.90,53594.10,38010.0,15584.10,1-Abr-14,4,April,2014,NaN
574,Midmarket,France,Velo,High,2826.0,120.0,15.0,42390.0,6358.50,36031.50,28260.0,7771.50,1-Mai-14,5,May,2014,NaN
464,Channel Partners,United States of America,VTT,Medium,1956.0,250.0,12.0,23472.0,2112.48,21359.52,5868.0,15491.52,1-Jan-14,1,January,2014,NaN
399,Enterprise,France,Velo,Medium,704.0,120.0,125.0,88000.0,4400.00,83600.00,84480.0,-880.00,1-Out-13,10,October,2013,NaN
580,Midmarket,Germany,VTT,High,1175.0,250.0,15.0,17625.0,2643.75,14981.25,11750.0,3231.25,1-Out-14,10,October,2014,NaN
591,Midmarket,Mexico,Paseo,None,2472.0,10.0,15.0,37080.0,0.00,37080.00,24720.0,12360.00,1-Set-14,9,September,2014,NaN
46,Government,Mexico,Amarilla,Medium,1679.0,260.0,350.0,587650.0,35259.00,552391.00,436540.0,115851.00,1-Set-14,9,September,2014,NaN
163,Government,France,Paseo,High,1954.0,10.0,20.0,39080.0,3908.00,35172.00,19540.0,15632.00,1-Mar-14,3,March,2014,NaN
174,Government,Mexico,Montana,High,1715.0,5.0,20.0,34300.0,4116.00,30184.00,17150.0,13034.00,1-Out-13,10,October,2013,NaN
683,Small Business,Germany,Paseo,High,807.0,10.0,300.0,242100.0,31473.00,210627.00,201750.0,8877.00,1-Jan-14,1,January,2014,NaN
479,Enterprise,France,Carretera,High,1482.0,3.0,125.0,185250.0,18525.00,166725.00,177840.0,-11115.00,1-Dez-13,12,December,2013,NaN
261,Government,Germany,VTT,Medium,2338.0,250.0,7.0,16366.0,1309.28,15056.72,11690.0,3366.72,1-Jun-14,6,June,2014,NaN