In [ ]:
import pandas as pd

metas_vendas = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSR9B8Y-1zeA2SRxlrzstVyTanY3s7rVwmBONk4nGCCCGM3NAxgvcd4jNtIxXekig/pub?output=csv")
resultados = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRsU5ZPhhUVRtXGMXzz6ykJ6wnCd9VqZIe0xA8VU9VxFTixrchP1fmDWvkhgzhoJcWnqi9Y_lY3JyL6/pub?output=csv")

venda_descreditada = pd.DataFrame({
    'Unnamed: 0': [''],
    'Nome': ['Venda descreditada'],
    'Email': [''],
    'Canal': [''],
    'Dias a trabalhar': [''],
    'Meta diária': [''],
    'Meta mensal': ['']})

In [ ]:
metas_vendas

,Unnamed: 0,Nome,Email,Canal,Dias a trabalhar,Meta diária,Meta mensal
0,0,Agatha Goncalves,agatha.goncalves@stone.com.br,Telefone,26,3,78
1,1,Alana Araujo,alana.araujo@stone.com.br,Telefone,24,3,72
2,2,Ana Luiza Farias,ana.farias@stone.com.br,Telefone,22,3,66
3,3,Ana Vitoria Barros,ana.barros@stone.com.br,Telefone,23,3,69
4,4,Andre Nogueira,andre.nogueira@stone.com.br,Telefone,22,3,66
...,...,...,...,...,...,...,...
143,143,Raul Melo,raul.melo@stone.com.br,Chat,25,"2,9","72,5"
144,144,Sabrina Cardoso,sabrina.cardoso@stone.com.br,Chat,25,"2,9","72,5"
145,145,Sarah Nogueira,sarah.nogueira@stone.com.br,Chat,22,"2,9","63,8"
146,146,Sarah Porto,sarah.porto@stone.com.br,Chat,22,"2,9","63,8"
147,147,Vicente Rezende,vicente.rezende@stone.com.br,Chat,22,"2,9","63,8"

In [ ]:
metas_vendas = metas_vendas.drop(["Unnamed: 0"], axis=1)

metas_vendas.head()

,Nome,Email,Canal,Dias a trabalhar,Meta diária,Meta mensal
0,Agatha Goncalves,agatha.goncalves@stone.com.br,Telefone,26,3,78
1,Alana Araujo,alana.araujo@stone.com.br,Telefone,24,3,72
2,Ana Luiza Farias,ana.farias@stone.com.br,Telefone,22,3,66
3,Ana Vitoria Barros,ana.barros@stone.com.br,Telefone,23,3,69
4,Andre Nogueira,andre.nogueira@stone.com.br,Telefone,22,3,66

In [ ]:
metas_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nome              148 non-null    object
 1   Email             148 non-null    object
 2   Canal             148 non-null    object
 3   Dias a trabalhar  148 non-null    int64
 4   Meta diária       148 non-null    object
 5   Meta mensal       148 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.1+ KB

In [ ]:
metas_vendas['Meta diária'] = metas_vendas['Meta diária'].str.replace(',','.').astype(float)
metas_vendas['Meta mensal'] = metas_vendas['Meta mensal'].str.replace(',','.').astype(float)
metas_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nome              148 non-null    object
 1   Email             148 non-null    object
 2   Canal             148 non-null    object
 3   Dias a trabalhar  148 non-null    int64
 4   Meta diária       148 non-null    float64
 5   Meta mensal       148 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 7.1+ KB

In [ ]:
resultados

            date             Nome
0     2021-10-31  Alexandre Souza
1     2021-10-31  Alexandre Souza
2     2021-10-31  Alexandre Souza
3     2021-10-31  Alexandre Souza
4     2021-10-31  Alexandre Souza
...          ...              ...
9754  2021-10-01  Vicente Rezende
9755  2021-10-01  Vicente Rezende
9756  2021-10-01  Vicente Rezende
9757  2021-10-01  Vicente Rezende
9758  2021-10-01              NaN

[9759 rows x 2 columns]

In [ ]:
resultados.isna().sum()

date     0
Nome    70
dtype: int64

In [ ]:
##resultados = resultados.dropna()
resultados ["Nome"].fillna("Venda descreditada", inplace=True)

resultados

            date                Nome
0     2021-10-31     Alexandre Souza
1     2021-10-31     Alexandre Souza
2     2021-10-31     Alexandre Souza
3     2021-10-31     Alexandre Souza
4     2021-10-31     Alexandre Souza
...          ...                 ...
9754  2021-10-01     Vicente Rezende
9755  2021-10-01     Vicente Rezende
9756  2021-10-01     Vicente Rezende
9757  2021-10-01     Vicente Rezende
9758  2021-10-01  Venda descreditada

[9759 rows x 2 columns]

In [ ]:
resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9759 entries, 0 to 9758
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9759 non-null   object
 1   Nome    9759 non-null   object
dtypes: object(2)
memory usage: 152.6+ KB

In [ ]:
resultados["Nome"] = resultados["Nome"].str.replace('ê','e')
##resultados["Nome"] = resultados["Nome"].str.replace('Luiz Gustavo Araujo','Luiz Gustavo Souza')

resultados

            date                Nome
0     2021-10-31     Alexandre Souza
1     2021-10-31     Alexandre Souza
2     2021-10-31     Alexandre Souza
3     2021-10-31     Alexandre Souza
4     2021-10-31     Alexandre Souza
...          ...                 ...
9754  2021-10-01     Vicente Rezende
9755  2021-10-01     Vicente Rezende
9756  2021-10-01     Vicente Rezende
9757  2021-10-01     Vicente Rezende
9758  2021-10-01  Venda descreditada

[9759 rows x 2 columns]

In [ ]:
resultados['date']= pd.to_datetime(resultados['date'])

resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9759 entries, 0 to 9758
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9759 non-null   datetime64[ns]
 1   Nome    9759 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 152.6+ KB

In [ ]:
resultados_intermediário = resultados.groupby(['Nome']).count()

resultados_intermediário.head()

                  date
Nome
Agatha Goncalves    76
Alana Araujo        68
Alexandre Cunha     37
Alexandre Duarte    29
Alexandre Souza     96

In [ ]:
##resultados_soma = pd.merge(metas_vendas, resultados_intermediário, how="right", on="Nome")

resultados_soma = pd.merge(metas_vendas, resultados_intermediário, how="left", on="Nome")
resultados_soma = resultados_soma.rename({'date': 'Resultado entregue'}, axis = 1)

resultados_soma

,Nome,Email,Canal,Dias a trabalhar,Meta diária,Meta mensal,Resultado entregue
0,Agatha Goncalves,agatha.goncalves@stone.com.br,Telefone,26,3.0,78.0,76.0
1,Alana Araujo,alana.araujo@stone.com.br,Telefone,24,3.0,72.0,68.0
2,Ana Luiza Farias,ana.farias@stone.com.br,Telefone,22,3.0,66.0,78.0
3,Ana Vitoria Barros,ana.barros@stone.com.br,Telefone,23,3.0,69.0,59.0
4,Andre Nogueira,andre.nogueira@stone.com.br,Telefone,22,3.0,66.0,40.0
...,...,...,...,...,...,...,...
143,Raul Melo,raul.melo@stone.com.br,Chat,25,2.9,72.5,65.0
144,Sabrina Cardoso,sabrina.cardoso@stone.com.br,Chat,25,2.9,72.5,33.0
145,Sarah Nogueira,sarah.nogueira@stone.com.br,Chat,22,2.9,63.8,86.0
146,Sarah Porto,sarah.porto@stone.com.br,Chat,22,2.9,63.8,67.0
147,Vicente Rezende,vicente.rezende@stone.com.br,Chat,22,2.9,63.8,11.0

In [ ]:
##resultados_soma ["Meta mensal novembro"] = resultados_soma ["Resultado entregue"] * 1.1
##resultados_soma ["Meta diária novembro"] = resultados_soma ["Meta diária"] * 1.1
##resultados_soma ["Restante novembro"] = resultados_soma ["Meta mensal novembro"] - resultados_soma ["Resultado entregue"]

##resultados_soma.to_excel('Etapa 4.xlsx')

In [ ]:
resultados_soma ["Entrega/dia"] = resultados_soma ["Resultado entregue"] / resultados_soma ["Dias a trabalhar"]
pd.options.display.float_format = '{:.1f}'.format

resultados_soma

,Nome,Email,Canal,Dias a trabalhar,Meta diária,Meta mensal,Resultado entregue,Entrega/dia
0,Agatha Goncalves,agatha.goncalves@stone.com.br,Telefone,26,3.0,78.0,76.0,2.9
1,Alana Araujo,alana.araujo@stone.com.br,Telefone,24,3.0,72.0,68.0,2.8
2,Ana Luiza Farias,ana.farias@stone.com.br,Telefone,22,3.0,66.0,78.0,3.5
3,Ana Vitoria Barros,ana.barros@stone.com.br,Telefone,23,3.0,69.0,59.0,2.6
4,Andre Nogueira,andre.nogueira@stone.com.br,Telefone,22,3.0,66.0,40.0,1.8
...,...,...,...,...,...,...,...,...
143,Raul Melo,raul.melo@stone.com.br,Chat,25,2.9,72.5,65.0,2.6
144,Sabrina Cardoso,sabrina.cardoso@stone.com.br,Chat,25,2.9,72.5,33.0,1.3
145,Sarah Nogueira,sarah.nogueira@stone.com.br,Chat,22,2.9,63.8,86.0,3.9
146,Sarah Porto,sarah.porto@stone.com.br,Chat,22,2.9,63.8,67.0,3.0
147,Vicente Rezende,vicente.rezende@stone.com.br,Chat,22,2.9,63.8,11.0,0.5

In [ ]:
resultados_soma ["Meta batida"] = resultados_soma ["Resultado entregue"] >= resultados_soma ["Meta mensal"]

resultados_soma

,Nome,Email,Canal,Dias a trabalhar,Meta diária,Meta mensal,Resultado entregue,Entrega/dia,Meta batida
0,Agatha Goncalves,agatha.goncalves@stone.com.br,Telefone,26,3.0,78.0,76.0,2.9,False
1,Alana Araujo,alana.araujo@stone.com.br,Telefone,24,3.0,72.0,68.0,2.8,False
2,Ana Luiza Farias,ana.farias@stone.com.br,Telefone,22,3.0,66.0,78.0,3.5,True
3,Ana Vitoria Barros,ana.barros@stone.com.br,Telefone,23,3.0,69.0,59.0,2.6,False
4,Andre Nogueira,andre.nogueira@stone.com.br,Telefone,22,3.0,66.0,40.0,1.8,False
...,...,...,...,...,...,...,...,...,...
143,Raul Melo,raul.melo@stone.com.br,Chat,25,2.9,72.5,65.0,2.6,False
144,Sabrina Cardoso,sabrina.cardoso@stone.com.br,Chat,25,2.9,72.5,33.0,1.3,False
145,Sarah Nogueira,sarah.nogueira@stone.com.br,Chat,22,2.9,63.8,86.0,3.9,True
146,Sarah Porto,sarah.porto@stone.com.br,Chat,22,2.9,63.8,67.0,3.0,True
147,Vicente Rezende,vicente.rezende@stone.com.br,Chat,22,2.9,63.8,11.0,0.5,False

In [ ]:
resultados_soma ["75% da meta"] = resultados_soma ["Resultado entregue"] >= resultados_soma ["Meta mensal"] * 0.75
##resultados_soma ["125% da meta"] = resultados_soma ["Resultado entregue"] >= resultados_soma ["Meta mensal"] * 1.25


resultados_soma

,Nome,Email,Canal,Dias a trabalhar,Meta diária,Meta mensal,Resultado entregue,Entrega/dia,Meta batida,75% da meta
0,Agatha Goncalves,agatha.goncalves@stone.com.br,Telefone,26,3.0,78.0,76.0,2.9,False,True
1,Alana Araujo,alana.araujo@stone.com.br,Telefone,24,3.0,72.0,68.0,2.8,False,True
2,Ana Luiza Farias,ana.farias@stone.com.br,Telefone,22,3.0,66.0,78.0,3.5,True,True
3,Ana Vitoria Barros,ana.barros@stone.com.br,Telefone,23,3.0,69.0,59.0,2.6,False,True
4,Andre Nogueira,andre.nogueira@stone.com.br,Telefone,22,3.0,66.0,40.0,1.8,False,False
...,...,...,...,...,...,...,...,...,...,...
143,Raul Melo,raul.melo@stone.com.br,Chat,25,2.9,72.5,65.0,2.6,False,True
144,Sabrina Cardoso,sabrina.cardoso@stone.com.br,Chat,25,2.9,72.5,33.0,1.3,False,False
145,Sarah Nogueira,sarah.nogueira@stone.com.br,Chat,22,2.9,63.8,86.0,3.9,True,True
146,Sarah Porto,sarah.porto@stone.com.br,Chat,22,2.9,63.8,67.0,3.0,True,True
147,Vicente Rezende,vicente.rezende@stone.com.br,Chat,22,2.9,63.8,11.0,0.5,False,False

In [ ]:
resultados_soma.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 0 to 147
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                148 non-null    object
 1   Email               148 non-null    object
 2   Canal               148 non-null    object
 3   Dias a trabalhar    148 non-null    int64
 4   Meta diária         148 non-null    float64
 5   Meta mensal         148 non-null    float64
 6   Resultado entregue  147 non-null    float64
 7   Entrega/dia         147 non-null    float64
 8   Meta batida         148 non-null    bool
 9   75% da meta         148 non-null    bool
dtypes: bool(2), float64(4), int64(1), object(3)
memory usage: 10.7+ KB

In [ ]:
resultados_soma.to_excel('metas_resultados.xlsx')